<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><h4>Content Management System </h4></div>
            <div class="col-md-8">
                <ul>
                    <li><a href="">Welcome <%=loginname%></a></li>
                    <li><a href="/userprofile">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout"><button class="btn btn-danger">Logout</button></a></li>
                </ul>
            </div>
            
        </div>
    </div>

</section>